@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

.cloud-lang-switch-popup {
    $block: &;
    overflow: hidden;
    margin: calc(-1 * var(--yc-popover-padding));

    &__item {
        @include reset-link-style();
        @include focusable(-2px);
        border-radius: var(--g-focus-border-radius);

        display: block;
        padding: calc($indentXXS / 2) $indentXXS;

        &:first-child {
            padding-top: $indentXXS;
        }

        &:last-child {
            padding-bottom: $indentXXS;
        }

        &:hover {
            background: var(--g-color-base-generic);
        }
    }

    &__icon {
        margin-top: 2px;
        width: 20px;
        height: 14px;
        margin-right: 6px;
        border: 1px solid var(--g-color-line-generic);
        border-radius: 3px;
    }

    &__lang {
        color: var(--g-color-text-secondary);
    }

    &__row {
        display: flex;
    }

    &__name,
    &__icon-check {
        color: var(--g-color-text-primary);
    }

    &__text {
        display: flex;
        flex-direction: column;
        margin-right: $indentXXXS;
    }
}
