@import '../../../../styles/mixins.scss';
@import '../../../../styles/variables.scss';

$block: '.#{$ns}logo';

#{$block} {
    width: 214px;

    @include islands-focus();
    @include focusable();

    display: flex;
    align-items: center;
    border-radius: var(--g-focus-border-radius);

    &_mobile {
        width: 141px;
    }

    &__img {
        display: block;
        margin: 0;
        height: 32px;
    }

    @media (max-width: 369px) {
        &__img {
            height: 30px;
        }
    }
}
