@import '../../../../styles/mixins.scss';


$block: '.#{$ns}logo';

#{$block} {
    width: 214px;

    &_mobile {
        width: 141px;
    }

    &__img {
        display: block;
        margin: 0;
        height: 32px;
    }

    &__link {
        @include islands-focus();
        @include focusable();

        display: flex;
        align-items: center;
        border-radius: var(--g-focus-border-radius);
    }

    @media (max-width: 369px) {
        &__img {
            height: 30px;
        }
    }
}