@import '../../../../../styles/mixins.scss';
@import '../../../../../styles/variables.scss';
@import '../../styles/mixins.scss';

$block: '.#{$ns}mobile-navigation';

#{$block} {
    @include reset-list-style();
    @include text-size(body-2);

    &__icon {
        @include resetHoverButton($block);
        display: none;

        &-icon {
            position: relative;
            top: 3px;
        }

        &_hidden {
            display: none;
        }
    }

    &__user {
        margin-top: $indentSM;
    }

    &__buttons {
        margin-top: $indentXXXS;
    }

    @media (max-width: map-get($gridBreakpoints, 'md')) {
        &__icon {
            display: block;

            &_hidden {
                display: none;
            }
        }
    }
}
