@import '../../../../styles/mixins.scss';
@import '../../../../styles/variables.scss';

$block: '.#{$ns}navigation-tag';

#{$block} {
    @include label();

    border-radius: 4px;
    text-transform: capitalize;

    &_color_yellow {
        background-color: var(--www-color-promo-highlight-gold);
    }

    &_color_green {
        background-color: var(--www-color-promo-highlight-mint);
    }

    &_color_blue {
        background-color: var(--www-color-promo-highlight-sky);
    }

    &_size_s {
        @include label($size: s);
    }
}