@import '../../../../styles/mixins.scss';
@import '../../../../styles/variables.scss';

$block: '.#{$ns}navigation-tag';

#{$block} {
    @include label();

    border-radius: 4px;
    text-transform: capitalize;

    &_color_yellow {
        background-color: var(--pc-addons-navigation-color-tag-yellow);
    }

    &_color_green {
        background-color: var(--pc-addons-navigation-color-tag-green);
    }

    &_color_blue {
        background-color: var(--pc-addons-navigation-color-tag-blue);
    }

    &_size_s {
        @include label($size: s);
    }
}
