@import '../../../../styles/variables.scss';

$block: '.#{$ns}cloud-buttons-container';

#{$block} {
    display: flex;

    &_direction {
        &_row {
            gap: $indentXXS;
        }

        &_column {
            gap: $indentXXXS;
            flex-direction: column;
        }
    }
}
