@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

$block: '.#{$ns}lang-switch';

#{$block} {
    font-size: var(--g-text-body-2-font-size);

    &:hover {
        &:before {
            background: none;
        }

        #{$block}__icon {
            color: var(--g-color-text-complementary);
        }
    }

    &__text,
    &__icon {
        position: relative;
        top: -1px;
    }

    &__popup {
        --yc-popup-border-width: 0;
        --yc-popup-border-color: none;

        border-radius: var(--g-border-radius-l);
        box-shadow: 0 3px 10px var(--pc-color-sfx-shadow);

        padding: 0;
    }

    &__text {
        margin-right: 3px;
        margin-left: -7px;
    }

    @media (max-width: map-get($gridBreakpoints, 'lg') - 1) {
        &:not(#{$block}_show-text) {
            width: 24px;

            #{$block}__text {
                top: 0;
                margin-left: 25px;
            }

            margin-left: $indentXXXS;
        }
    }

    @media (max-width: map-get($gridBreakpoints, 'md') - 1) {
        &:not(#{$block}_show-text) {
            width: 36px;
        }
    }

    @media (max-width: map-get($gridBreakpoints, 'sm') - 1) {
        margin-right: 2px;
    }
}
