@import '../../../../../styles/mixins.scss';
@import '../../../../../styles/variables.scss';

$block: '.#{$ns}navigation';

#{$block} {
    @include reset-list-style();
    @include text-size(body-2);
    @include desktop-only();
    display: flex;
    align-items: center;
    margin-left: 2px;

    &__popup {
        &_medium {
            padding-left: calc($indentXXXS / 2);
            padding-right: $indentXS;
        }
    }

    @media (max-width: map-get($gridBreakpoints, 'md')) {
        display: none;
    }
}
